body {
    background-color: #0D0D0D;
    color: #fff;
}

:root {
    --grey: #72736E;
    --light-grey: #A5A69C;
    --dark-grey: #0D0D0D;
    --white: #D9D7CC;
    --dark: #262626;
    --other-dark: #333;
    --active: #fff;
}

.radio-player {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: var(--dark);
    border: 1px solid var(--grey);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: var(--grey);
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #3e8e41;
}

.volume-and-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.currently-playing {
    font-size: 14px;
    color: #666;
}

.currently-playing-label {
    font-weight: bold;
}

.volume-controls {
    display: flex;
    align-items: center;
}

#volume-control {
    /* width: 100px; */
    margin: 0 10px;
}

/* styles.css */
.radio-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.radio-button-container {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.radio-button {
    display: block;
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: var(--grey);
    color: #fff;
    cursor: pointer;
}

.radio-button:hover {
    background-color: #3e8e41;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .radio-button {
    /* background-color: #E8BB05 !important; */
    border: 2px solid var(--active);
}

.france-info {
    background-color: #fccc04 !important;
    color: var(--other-dark)
}
.france-info:hover {
    background-color: #E8BB05 !important;
}

.rfi {
    background-color: #D14016 !important;
}
.rfi:hover {
    background-color: #D12519 !important;
}

.fip {
    background-color: #CF0470 !important;
}
.fip:hover {
    background-color: #BA0465 !important;
}
